#yagmur{

    margin-bottom: 30px;
    background: rgb(177, 153, 167);
    -webkit-border-radius: 10px; /*chrome için*/
	-moz-border-radius: 10px; /*mozilla için*/
	border-radius: 10px; /*ie için ve genel*/
    height: 100px;
    width:500px;

}