<h1 style="font-family:'Times New Roman', Times, serif ; margin-right: 10%; margin-right: 10%; color: darkred">    Sorular    </h1>

<li id="veysel" *ngFor="let user of sorular$">

  <a routerLink="../{{user.id}}/cevaplar">{{ user.title }}</a>

  <button (click)="delete(user.id)" style="float: right; margin-right: 10px; margin-top: 5px" type="button" class="btn btn-danger">Sil</button>
  <a href="sorular/guncelle/{{user.id}}"><button  style="float: right; margin-right: -50px; margin-top: 55px" type="button" class="btn btn-primary">Güncelle</button></a>
  
  <ul style="background: rgb(212, 143, 131); width: 500px; height: 70px;">
    
    <a href="">{{ user.description}}</a>
  </ul>
</li>